@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 5%;

    --card: 0 0% 99%;
    --card-foreground: 0 0% 5%;

    --popover: 0 0% 99%;
    --popover-foreground: 0 0% 5%;

    --primary: 267 74% 51%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 95%;
    --secondary-foreground: 0 0% 5%;

    --muted: 0 0% 95%;
    --muted-foreground: 0 0% 45%;

    --accent: 0 0% 95%;
    --accent-foreground: 0 0% 5%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 91%;
    --input: 0 0% 84%;
    --ring: 0 0% 76%;

    --radius: 1rem;
  }

  .dark {
    --background: 240 4% 0%;
    --foreground: 0 0% 98%;

    --card: 240 3% 6%;
    --card-foreground: 0 0% 98%;
    --card-border: 240 3% 17%;

    --popover: 270 6% 7%;
    --popover-foreground: 0 0% 98%;

    --primary: 267 74% 51%;
    --primary-foreground: 0 0% 98%;
    --primary-border: 267 74% 61%;

    --secondary: 270 5% 15%;
    --secondary-foreground: 0 0% 98%;
    --secondary-border: 270 5% 20%;

    --muted: 270 5% 22%;
    --muted-foreground: 265 5% 49%;

    --accent: 267 45% 14%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 260 5% 12%;
    --input: 270 4% 18%;
    --ring: 267 74% 40%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    overflow: auto !important;
  }
}

::view-transition-group(root) {
  z-index: auto !important;
}
::view-transition-image-pair(root) {
  isolation: isolate;
  will-change: transform, opacity, scale;
  z-index: 1;
}
::view-transition-new(root) {
  z-index: 2;
  animation: none !important;
}
::view-transition-old(root) {
  z-index: 1;
  animation: none !important;
}
